{
  "importOrder": [
    "^react$",
    "^next(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/contexts/(.*)$",
    "^@/hooks/(.*)$",
    "^@/config/(.*)$",
    "^@/lib/(.*)$",
    "^@/pages/(.*)$",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^@/styles/(.*)$",
    "^@/graphql/(.*)$",
    "^@/constants/(.*)$",
    "^style$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 80
}
