:root {
  --border-radius: 0.6875rem;
  --color-purple: #9f0086;
  --color-black: #222222;
  --color-white: #ffffff;
  --color-grey: #9a9a9a;
  --color-green: #009f19;
  --color-bg: var(--color-white);
  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-grey);
  --color-text-button: var(--color-white);
  --color-accent: var(--color-purple);
  --size-card-gap: 0.62rem;
  --size-card-height: 13.75rem;
  --size-card-width: 20.5rem;

  inset: 0;
  position: fixed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-black);
    --color-text-primary: var(--color-purple);
    --color-text-secondary: var(--color-white);
    --color-text-button: var(--color-white);
    --color-accent: var(--color-green);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16pt;
}

html,
body {
  color: var(--color-text-primary);
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  inset: 0;
  line-height: normal;
  max-width: 100vw;
  position: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
