.cards {
  display: grid;
  gap: 1.25rem 1.56rem;
  grid-template-columns: repeat(1, minmax(var(--size-card-width), 1fr));
  width: stretch;

  @media screen and (width >= 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width >= 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.hidden {
  display: none;
}
