.card {
  display: flex;
  flex-direction: column;
  gap: var(--size-card-gap);
  list-style: none;
  width: stretch;
}

.cardImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius);
  height: var(--size-card-height);
  width: stretch;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardTitle {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

.cardDescription {
  color: var(--color-accent);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
